

@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

.skillList{
    font-family: 'gaegu';
    display: flex;
    flex-direction: column; max-height: 190px; /* Adjust this value based on how many rows you want */
    list-style-type: disc; /* Default bullet style */
    padding: 10 10;
    margin: 0;
    flex-wrap: wrap;

}
#main{
    background-color: palegoldenrod;
    height: auto; /*make sure to change this later*/
}
