*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    padding: 0 5rem; 
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: yellowgreen;
    font-family: 'Gaegu';
    font-size: larger;
    border-radius: 0px 0px 10px 10px;
}
header :hover{
    font-size: 20px;
}


nav a{
    color: black;
    margin-right: 10px; 
}

nav a:hover { 
    color:aqua

}
.header-title{
    font-family:'Gaegu'
}
.header-title:hover{
   
}