.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     /* Ensures the container takes up full viewport height */
     

}

.flip-card {
    background-color: transparent;
    width: 20vw;
    height: 20vw;
    perspective: 1000px;
    

}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 20px;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
}



.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    border-radius: 20px;
}

.flip-card-front {
    background-color: #fff;
    color: black;
    border-radius: 20px;
}

.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.flip-card-front a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px; /* Make the anchor tag container rounded */
    overflow: hidden; /* Ensure the image is clipped within the rounded container */
}
.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the card area */
    border-radius: 20px; /* Make the image rounded */
}

button {
    padding: 10px 20px;
    font-size: 1.6vh;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-bottom: 50px;

}

button:hover {
    background-color: #21a1f1;
    color: white;
    transform: scale(1.05);
}