#heading{
    padding: 20px;
}
#containerH2{
    padding: 12px;
}
#main{
    background-color: palegoldenrod;

}
.doraemon {
    width: 80vw; /* Set the width to 80% of the viewport width */
    height: auto; /* Maintain aspect ratio */

}
